<nav class="navbar navbar-fixed-top" id="main-menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="scroll"><a class="{% if page.url == '/' %}active{% endif%}" href="{{ site.github.url }}/">Home</a></li>
        <li class="scroll"><a class="{% if page.url == '/blog/' %}active{% endif%}" href="{{ site.github.url }}/blog/">Noticias</a></li>
        {% if site.preguntas %}<li class="scroll"><a class="{% if page.url == '/faqs/' %}active{% endif%}" href="{{ site.github.url }}/faqs/">Preguntas frecuentes</a></li>{% endif %}
        {% if site.reglas %}<li class="scroll"><a class="{% if page.url == '/rules/' %}active{% endif%}" href="{{ site.github.url }}/rules/">Reglas del evento</a></li>{% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
