---
layout: default
title: Noticias | Hackaton
description: Noticia relacionadas al hackaton.
id: Post
---

<div class="container">
  <div class="row white-block extra-margin-header">
    <div class="col-lg-10 col-lg-offset-1">
      <article class="post extra-margin-sides" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
      <article class="extra-margin-sides">
      {% include facebook-init.html %}
      {% if site.fbcomments %}
        <h3>Comentarios</h3>
        <div class="fb-comments" data-href="{{ site.github.url }}" data-width="500px" data-numposts="10"></div>
      {% endif %}
      </article>
    </div>
  </div>
</div>
